/*----------------------------------------------
	Content Navigation
----------------------------------------------*/

body.search.search-results,
body.archive.date {
	.posts-navigation {
		margin-top: 4em;
	}
}


.navigation.posts-navigation,
.navigation.post-navigation {
	h2 {
		display: none;
	}
	
	.nav-links {
		display: grid;	
		
		a {
		    @extend .btn;
		}
	}
	
	.nav-previous {	
		grid-area: older;		
	}

	.nav-next {
		grid-area: newer;		
	}
	
	@media (min-width: 992px) {
		.nav-links {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "older newer";
			grid-column-gap: 2em;				
		}
		
		.nav-next {
			justify-self: end;
			
			a {
				text-align: right;
			}				
		}
		
		.nav-previous {
			justify-self: start;
			
			a {
				text-align: left;
			}				
		}
		
	}		
	
	@media (max-width: 991px) {	
		.nav-links {
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "newer" "older";
			grid-row-gap: 2em;				
		}
				
		.nav-next,
		.nav-previous {
			justify-self: center;
			
			a {
				text-align: center;
			}				
		}			
	}
}