/*----------------------------------------------
	Site Header
----------------------------------------------*/

.site-header {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: calc(100px + 98vw);
	
	.logo {
	    max-width: 10em;
	    width: 22vw;
	    height: auto;
		display: block;
		margin: 4vw auto 18vw auto;
		-webkit-filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
		filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
	}
	
	+ .site-content {
		margin-top: -1px;
	}	
}

@media (max-width: 768px) {
	.site-header .logo {
		margin: 8vw auto 22vw auto;		
	}
}