/*----------------------------------------------
	Site Header
----------------------------------------------*/

.site-header {
	background-color: var(--soap-color);
	position: relative;	
	
	> .container {
		position: relative;
		z-index: 1;
	}
	
	.logo {
	    max-width: 10em;
	    width: 22vw;
	    height: auto;
		display: block;
		margin: 4vw auto 18vw auto;
		-webkit-filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
		filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
	}
	
	.logo--letter-s,
	.logo--letter-p {
		fill: var(--bg-color);							
	}		
	
	.bubbles {
		position: absolute;
		bottom: -1px;		
		left: -1px;
		width: calc(100% + 1px);
	}	
	
	.bubbles--first-row,
	.bubbles--second-row,
	.bubbles--third-row {
		fill: var(--bg-color);	
	}
	
	.bubbles--third-row {
		opacity: .5;
	}
	.bubbles--second-row {
		opacity: .7;
	}		
}

@media (max-width: 768px) {
	.site-header .logo {
		margin: 8vw auto 22vw auto;		
	}
}