/*----------------------------------------------
	Theme Mixin
----------------------------------------------*/

@mixin has-color($name, $color) {
	.has-#{$name}-color {
		color: var(--#{$color});
	}
	
	.has-#{$name}-background-color {
		background-color: var(--#{$color});
	}
	
	.wp-block-button__link.has-#{$name}-background-color {
		background: transparent;
		border-color: var(--#{$color});
		color: var(--#{$color});
		
		&:hover,
		&:focus {
			background: var(--#{$color});
			color: $white;
		}
	}
}

@mixin color-switch($color) {
	#switch--#{$color} {
		background-color: var(--#{$color});
	}
}