/*----------------------------------------------
	Navigation
----------------------------------------------*/

// SoaPatrick Styling
.soa,
.patrick {
	font-style: normal;
	display: inline-block;		
}

.soa {
	margin-top: -.2em;
}	

.patrick {
	margin-top: .13em;
}	

// Navigation
$navigation-border-radius: 2em;

.nav-logo {
	width: calc(var(--navigation-width)/3);
	
	.logo--letter-s,
	.logo--letter-p {
		fill: var(--soap-color);
	}
	
	&:hover,
	&:focus {
		.logo--letter-s,
		.logo--letter-p {
			fill: $white;
		}		
	}
}

.site-navigation {
	position: fixed;
	width: var(--navigation-width);
	top: 0;
	left: 0;
	bottom: 0;
	padding-top: 2em;
	z-index: 1000;	

	
	.site-navigation__link {
		height: var(--navigation-width);
		width: var(--navigation-width);
		display: flex;
		justify-content: center;
		align-items: center;	
		cursor: pointer;
		
		&:hover {
			background: var(--soap-color);
					
			.logo--letter-s,
			.logo--letter-p {
				fill: $white;
			}
			
			.svg-inline--fa {
				color: $white;
			}
			
			span {
				visibility: visible;
			}				
		}
		
		span {
			display: flex;
			white-space: nowrap;
			align-items: center;
			height: auto;		
			position: absolute;
			z-index: 0;		
			left: calc(1em + var(--navigation-width));		
			visibility: hidden;
			background-color: var(--text-color);
			color: var(--bg-color);	
			padding: .5em 1.25em;
			font-weight: 400;	
			border-radius: 2em;	 
		}		
	}
	

	.theme-switch {			
		cursor: pointer;
		position: relative;
		
		input {
			display: none;
		}
		
		&:focus {
			background: transparent;			
		}			
	}
	
	.svg-inline--fa {
		color: var(--text-color);
		
		@media (max-width: 767px) {			
			color: $white;
		}
		
		font-size: calc(var(--navigation-width)/3);
		width: 1.25em;
	}		
}

@media (max-width: 767px) {
	.site-navigation {	
		top: auto;
		height: calc(var(--navigation-width) * 1.2);
		width: 100%;
		display: flex;	
		padding: 0;
		box-shadow: 0 0 .5em rgba(0,0,0,.25);		
		background: #1c1c1c;			
		
		.site-navigation__link {
			flex-grow: 1;
			height: calc(var(--navigation-width) * 1.2);
			align-items: end;
			padding-top: 1em;			
			
			span {
				display: none;
			}			
		}		
	}
}

@media (min-width: 768px) {
	body.admin-bar {
		.site-navigation {
			padding-top: var(--navigation-width);
		}
	}
}
