/*----------------------------------------------
	Pretty Code
----------------------------------------------*/

code {
	background: var(--body-color);
  padding: .3em;
  display: inline-block;
  line-height: 1;
  border-radius: .2em;
  font-size: 90%;
}

pre  {
	overflow-x: auto;
	padding: 0;
	border: 0;
	background: var(--body-color);
	border-radius: .2em;

	code {
    background: transparent;
    padding: 1em;
    display: block;
    line-height: initial;
	}
}
