/*----------------------------------------------
	Scaffolding
----------------------------------------------*/

html,
body {
	height: 100%;   	
	margin: 0;
	padding: 0;	
}

body {
	font-size: $font-size-base;
	font-family: $font-base;
	font-weight: 300;
    -webkit-font-smoothing: antialiased;    
//  padding: calc(1vw + 1em);	
}

.wrapper {
	display: flex;
	flex-direction: column;	
	height: 100%;
	
	.site-footer, 
	.site-header {
		flex: none;
	}
	
	.site-content {
		flex: 1 0 auto;	
	}
}

.container,
.container-fluid {
	margin: 0 auto;
}

.container {
    min-width: 730px;	
    width: 70vw;    
    max-width: 1250px;
}

.container-fluid {
    width: 92vw;
    max-width: 1440px;
}

@media (min-width: 1500px) {
	.container-fluid {
	    max-width: calc(1500px + 20vw);
	}
}

@media (max-width: 767px) {
	.container,
	.container-fluid {
		padding: 0 2em;
		width: calc(100% - 4em);
		min-width: auto;		
	}	
}