/*----------------------------------------------
	Search
----------------------------------------------*/

.search-form {
	margin: 4em 0;	
	
	input {
		padding: .5em;	
		width: calc(100% - 1em);
		font-size: calc(18px + 1vw);
		border: 0;
		font-weight: 400;
		background: rgba(0,0,0,.1);
		color: var(--text-color);		
		
		
		&:focus {
			outline: none;
		}		
	}
}

#search-collapse {
	background: var(--soap-color);	
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    
    &.open {
	    max-height: 800px;
	    transition: max-height 0.25s ease-in;
	}
	
	.search-form input {		
		&::-webkit-input-placeholder {
			  color: var(--bg-color);
			  opacity: .7;
		}
		
		&::-moz-placeholder {
			  color: var(--bg-color);
			  opacity: .7;
		}
		
		&:-ms-input-placeholder {
			  color: var(--bg-color);
			  opacity: .7;
		}
	}		
}