/*----------------------------------------------
	Search
----------------------------------------------*/

.search-form {
	margin: 4em 0;	
	
	input {
		padding: .5em 1.25em;	
		width: calc(100% - 2.5em);
		font-size: calc(18px + 1vw);
		border: 0;
		font-weight: 400;
		background: rgba(0,0,0,.1);
		color: var(--text-color);
		border-radius: 2em;	
		
		@media (min-width: 768px) {    		
			grid-column-start: 2;
			grid-column-end: 5;		
		}
		
		&:focus {
			outline: none;
		}		
	}
}

#search-collapse {
	background: var(--soap-color);	
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    
	@media (min-width: 768px) {    
    	margin-left: var(--navigation-width);
    }
    
    &.open {
	    max-height: 800px;
	    transition: max-height 0.25s ease-in;
	}
	
	.search-form input {		
		&::-webkit-input-placeholder {
			  color: var(--text-color);
			  opacity: .5;
		}
		
		&::-moz-placeholder {
			  color: var(--text-color);
			  opacity: .5;
		}
		
		&:-ms-input-placeholder {
			  color: var(--text-color);
			  opacity: .5;
		}
	}		
}