#settings-window {
	position: fixed;
	bottom: 4em;	
	left: calc(50% - 4.6em);
	width: 9.2em;
	height: 14.5em;	
	z-index: 3;
	display: none;	
	
	&.open {
		display: flex;
	}	
	
	.container {
		position: relative;
		background: var(--text-color);
		color: var(--bg-color);
		box-shadow: 0 0 .5em rgba(0,0,0,.5);
		padding: 2em 1em;
		
		#settings-window__header {
			cursor: move;
			position: absolute;
			z-index: 4;		
			left: 0;
			top: 0;
			right: 0;
			height: 2em;
		}
		
		#settings-window__close {
			position: absolute;
			z-index: 5;
			right: .75em;
			top: .75em;
			cursor: pointer;
		}			
	}		
	
	.svg-inline--fa {
		color: var(--bg-color);
	}
	
	h2 {
		text-align: center;
		margin-top: 0;
	}
}
	
/*----------------------------------------------
	Theme Switcher
----------------------------------------------*/

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
  
	.svg-inline--fa {
		font-size: 1.3em;
	}

	.theme-switch {
		display: inline-block;
		height: 1.5em;
		position: relative;
		width: 3em;
		margin: 0 .5em;
		
		input {
			display:none;
			
			&:checked + .slider {
				background-color: $dark-grey;
				
				&:before {
					transform: translateX(1.5em);
				}
			}
		}
		
		.slider {
			background-color: $darker-grey;
			bottom: 0;
			cursor: pointer;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: .4s;
			
			&:before {
				background-color: $white;
				content: "";
				position: absolute;
				bottom: .15em;				
				left: .15em;				
				height: 1.2em;				
				width: 1.2em;
				transition: .4s;				
			}
			
			&.round {
				border-radius: 1.5em;
				
				&:before {
					border-radius: 50%;
				}
			}		
		}		
	}		
}
	
	
/*----------------------------------------------
	Color Switch
----------------------------------------------*/	
	
#color-switch {
	margin-top: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	
	input {
		-webkit-appearance: none;
		-moz-appearance: none;		
		appearance: none;
		display: inline-block;
		position: relative;
		margin: 0 0 .5em 0;
		padding: 0;			
		height: 2em;
		width: 2em;
		border: .2em solid var(--text-color);
		border-radius: 50%;
		cursor: pointer;     
		outline: none;
		
		&:checked {
			border-color: var(--bg-color);
		}			
	}
	
	@include color-switch(amber);	
	@include color-switch(red);
	@include color-switch(pink);
	@include color-switch(purple);	
	@include color-switch(blue);
	@include color-switch(green);
}