/*----------------------------------------------
	Theme Mixin
----------------------------------------------*/

@mixin color-theme($bg-color, $soap-color, $text-color, $sp-text-color ) {
	background: $bg-color;
	color: $text-color;
	
	.site-header {
		background: $soap-color;
		
		+ .site-content {
			background: $bg-color;
		}
	}
	
	.logo--letter-s,
	.logo--letter-p {
		fill: $bg-color;							
	}	
	
	a {
		color: $soap-color;
		
		&:hover,
		&:focus {
			color: lighten($soap-color, 10%);
		}
	}
	
	ul,
	ol {
		li::before {
			color: $soap-color;
		}
	}
	
	hr {
		border-color: $soap-color;			
	}
	
	.site-navigation {
		a:hover,
		a:focus {
			background: $soap-color;
			
			.svg-inline--fa {
				color: $sp-text-color;
			}				
		}	
	}	
	
	.breadcrumbs {
		background: darken($bg-color, 1%);

		.svg-inline--fa {
			color: rgba($text-color, .25);
		}
	}	
	
	.soapcolor-bg {
		background: $soap-color;
		color: $sp-text-color;
		
		a,
		a:hover,
		a:focus,
		.svg-inline--fa {
			color: inherit;
		}
	} 
	
	.img-link {
		img {
			border-color: $soap-color;
			
			&:hover,
			&:focus {
				border-color: lighten($soap-color, 10%);;
			}			
		}
	}
	
	.btn-red,
	.btn-dark {
		@extend .btn;		
	    color: $sp-text-color;
				
		.svg-inline--fa {
			color: $sp-text-color;
		} 	
	}	
	
	.btn-red {
	    background: $soap-color;

		&:focus,
		&:hover {
			background: darken($soap-color, 10%);
		}		
	}
	
	.btn-dark {	
		background: lighten($bg-color, 10%);
		
		&:focus,
		&:hover {
			background: $soap-color;
		}
	}
	
	.btn-disabled {
		@extend .btn-dark;		
		box-shadow: none !important;
		opacity: .5;
		
		&:focus,
		&:hover {
			background: lighten($bg-color, 10%);
		}
	}
	
	.btn-active {
		@extend .btn-red;
		
		&:focus,
		&:hover {
			background: $soap-color;
		}
	}
	
	.svg-inline--fa {
		color: $soap-color;
	} 
	
	.list-icon {
		background: $soap-color;
	
		.svg-inline--fa {
			color: $sp-text-color;
		}
	}
	
	.list-title {
		a {
			color: $text-color;
		}
	}	
	
	.search-form input {
		background: darken($bg-color, 2.5%);
		color: $text-color;
	}
	
	#search-collapse {
		background: $soap-color;
		
		.search-form input {
			background: rgba($bg-color, .5);
			
			&::-webkit-input-placeholder {
				  color: $bg-color;
				  opacity: .7;
			}
			
			&::-moz-placeholder {
				  color: $bg-color;
				  opacity: .7;
			}
			
			&:-ms-input-placeholder {
				  color: $bg-color;
				  opacity: .7;
			}
		}				
	}
	
}