/*----------------------------------------------
	Tools, Helper Classes
----------------------------------------------*/

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

/*----------------------------------------------
	Media Player Fix
----------------------------------------------*/

.wp-video-shortcode video, 
video.wp-video-shortcode {
	height: auto;
}

.responsive-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,
	embed,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}	
}

.jetpack-video-wrapper {
	margin: 0 !important;
}



/*----------------------------------------------
	Youtube Embeded Replacer
----------------------------------------------*/
.youtube-wrapper__video {
	position: relative;
	padding-bottom: 56.23%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background: transparent;
	}
	
	img {
		bottom: 0;
		display: block;
		left: 0;
		margin: auto;
		max-width: 100%;
		width: 100%;
		position: absolute;
		right: 0;
		top: 0;
		border: none;
		height: auto;
		cursor: pointer;
		-webkit-transition: .4s all;
		-moz-transition: .4s all;
		transition: .4s all;
	}
	
	.video--play-btn {
		position: absolute;
		left: calc(50% - 2em);
		top: calc(50% - 1.25em);
		width: 4em;
		height: 2.5em;
		margin: 0;
		
		&:hover{
			cursor: pointer;
			
			.video--play-btn__bg {
				fill: #f00;
				fill-opacity: 1;
			}
		}
	}
}