/*----------------------------------------------
	Typography
----------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: $font-heading;
	font-weight: normal;
	line-height: $line-height-heading;	
}

.title-large {
	font-size: $font-size-title-large;
	margin: 0;
}


.title-medium {
	margin: .5em 0;
	font-size: $font-size-title-medium;
	font-weight: normal;
	text-align: center;	
	text-transform: initial;
	line-height: $line-height-heading;				
}

a {
	font-weight: 400;
	text-decoration: none;
	color: var(--soap-color);
	
	&:hover,
	&:focus {
		color: var(--soap-color);
		text-decoration: underline;
	}	
}

p,
li {
	line-height: $line-height-base;			
}

hr {
	border: 1px solid var(--soap-color);		
	width: 100%;
}

	
.svg-inline--fa {
	color: var(--soap-color);
} 

/*----------------------------------------------
	Lists
----------------------------------------------*/

ul,
ol {
	list-style: none;
	
	li::before {
		color: var(--soap-color);		
		display: inline-block;
		width: 1em;
		margin-left: -1em;
	}
	
	&.list-style-none {
		padding-left: 0;
	}
}		

ul:not(.fa-ul):not(.list-style-none):not(.wp-block-gallery):not(.wp-block-jetpack-slideshow_swiper-wrappper) {
	li::before {
		font-family: sans-serif;
		content: "•";
	}
}

ol {
	counter-reset: li;
	
	li {
		counter-increment: li;
		
		&::before {
			content: counter(li);
			font-weight: 400;
		}
	}					
}

/*----------------------------------------------
	Blockquote
----------------------------------------------*/

blockquote.wp-block-quote  {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1em;
	border-left: 5px solid var(--soap-color);
	
	p {
		font-weight: 400;
	}
	
	> *:first-child {
	    margin-top: 0;
	}
	
	> *:last-child {
	    margin-bottom: 0;
	}	
	
	&.is-style-large {
		margin-top: 1em;
		margin-bottom: 1em; 
		padding: 0 0 0 2em;
		
		p {
			font-size: 120%;	
			line-height: 1.4;
		}
	}
	
	cite {
		font-style: normal;
		font-size: 80%;
	}		
}

/*----------------------------------------------
	Button
----------------------------------------------*/

.btn {
	padding: .5em 1.25em;
	color: var(--soap-color);
	border: $btn-border-width solid var(--soap-color);
	background: transparent;
	font-size: inherit; 
	border-radius: 0;
	display: inline-block;	
	border-radius: 2em; 
			
	.svg-inline--fa {
		color: var(--soap-color);
	} 
		  
	&:hover,
	&:focus {
		background: var(--soap-color);
		color: $white;
		font-weight: 400;
		text-decoration: none;
	}
}

.btn-small {
	padding: .25em .75em;
	font-size: 90%;
}	

.btn-disabled {
	@extend .btn;	
	padding-left: 0;
	padding-right: 0;	
	cursor: default;
	border-color: transparent;
	
	&:hover,
	&:focus {
		color: var(--soap-color);
		background: transparent;
		font-weight: inherit;		
	}	
}

.btn-active {
	@extend .btn;
	background: var(--soap-color);
	color: $white;
	font-weight: 400;
	cursor: default;
}


/* Button block
--------------------------------------------- */

.is-style-squared .wp-block-button__link,
.is-style-outline .wp-block-button__link,
.wp-block-button__link {
	@extend .btn;
}

button,
select,
textarea,
input {
	font-size: $font-size-base;
	font-family: $font-base;
	font-weight: 300;
}